svg {
  display: block;
  outline: 1px solid #ccc;
  overflow: visible;
  width:100%;
}

.showMarkers{
  marker-start: url(#markerStart);
  marker-mid: url(#markerRound);
  stroke-width: 0.25% !important;
}

.grd{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
gap:1em;
}